
.intro-quote {
  font-size: 2.9rem !important;
  border-left: 1px solid #8dd6f9 !important;
}

.z60-thankyou a {
  color: #8dd6f9 !important; 
}

.upgrade-md {
  text-align: left;
  font-size: 20px;
}

.webpack-what-list {
  text-align: left;
  list-style-position: inside;
  padding: 0px;
}
.webpack-what-list li {
  font-size: 2.66rem;
}

.strike {
  text-decoration: line-through; 
}
